<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div class="navbar is-black">
    <div class="navbar-brand">
      
      <a class="navbar-item">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="Bulma">
        <span>&nbsp;&nbsp;&nbsp;Star Event Planner</span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a routerLink="/" class="navbar-item" >Home</a>
        <a routerLink="/contact" class="navbar-item" >Contact</a>
        <a routerLink="/eventselection" class="navbar-item has-background-light has-text-black" >Book an Event</a>
      </div>
    </div>
</div>




