
<div class="navbar is-black" >
    <div class="navbar-brand">
      
    <a class="navbar-item" id="hoverid">

        <!-- <img src="" width="112" height="28" alt="Bulma" > -->
        <span class="font-new" style="cursor: default;" >&thinsp;&#9734;&nbsp;Star Event Planner</span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a routerLink="/" class="navbar-item has-text-centered font-new-2">Home</a>
        <a routerLink="/contact" class="navbar-item has-text-centered font-new-2" >Contact</a>
        <a routerLink="/eventselection" class="navbar-item has-background-light has-text-black has-text-centered font-new-3" >Book an Event</a>
      </div>
    </div>
</div>






