    <hr>
      <h1 class="has-text-centered" style="font-size:40px">Private Events</h1>
      <br>

<!-- events  -->
      <div class="columns">
        <div class="column is-one-third">

           <div class="column">
              <div class="card">
                 <div class="card-image">
                    <figure class="image is-4by3">
                       <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                 </div>
                 <section class="inline">
                    <div class="card-content"  style="float:left; " id="first">
                       <div class="media">
                          <div class="media-content">
                             <p class="title is-4 has-text-centered">Wedding</p>
                             <p class="subtitle is-6 has-text-centered">--add--text--</p>
                          </div>
                       </div>
                    </div>
                    <div>
                       <button routerLink="/userdetails" class="button is-black" id="second">Select</button>
                    </div>
                 </section>
              </div>
           </div>

        </div>
        <div class="column">
            <div class="column">
                <div class="card">
                   <div class="card-image">
                      <figure class="image is-4by3">
                         <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                   </div>
                   <section class="inline">
                      <div class="card-content"  style="float:left; " id="first">
                         <div class="media">
                            <div class="media-content">
                               <p class="title is-4 has-text-centered">Wedding</p>
                               <p class="subtitle is-6 has-text-centered">--add--text--</p>
                            </div>
                         </div>
                      </div>
                      <div>
                         <button routerLink="/userdetails" class="button is-black" id="second">Select</button>
                      </div>
                   </section>
                </div>
             </div>
        </div>

        <div class="column">
            <div class="column">
                <div class="card">
                   <div class="card-image">
                      <figure class="image is-4by3">
                         <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                   </div>
                   <section class="inline">
                      <div class="card-content"  style="float:left; " id="first">
                         <div class="media">
                            <div class="media-content">
                               <p class="title is-4 has-text-centered">Wedding</p>
                               <p class="subtitle is-6 has-text-centered">--add--text--</p>
                            </div>
                         </div>
                      </div>
                      <div>
                         <button routerLink="/userdetails" class="button is-black" id="second">Select</button>
                      </div>
                   </section>
                </div>
             </div>
        </div>

     </div>


<!-- second events -->

<hr>
      <h1 class="has-text-centered" style="font-size:40px">Public Events</h1>
      <br>
      <div class="columns">
        <div class="column is-one-third">

           <div class="column">
              <div class="card">
                 <div class="card-image">
                    <figure class="image is-4by3">
                       <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                 </div>
                 <section class="inline">
                    <div class="card-content"  style="float:left; " id="first">
                       <div class="media">
                          <div class="media-content">
                             <p class="title is-4 has-text-centered">Wedding</p>
                             <p class="subtitle is-6 has-text-centered">--add--text--</p>
                          </div>
                       </div>
                    </div>
                    <div>
                       <button routerLink="/userdetails" class="button is-black" id="second">Select</button>
                    </div>
                 </section>
              </div>
           </div>

        </div>
        <div class="column">
            <div class="column">
                <div class="card">
                   <div class="card-image">
                      <figure class="image is-4by3">
                         <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                   </div>
                   <section class="inline">
                      <div class="card-content"  style="float:left; " id="first">
                         <div class="media">
                            <div class="media-content">
                               <p class="title is-4 has-text-centered">Wedding</p>
                               <p class="subtitle is-6 has-text-centered">--add--text--</p>
                            </div>
                         </div>
                      </div>
                      <div>
                         <button routerLink="/userdetails" class="button is-black" id="second">Select</button>
                      </div>
                   </section>
                </div>
             </div>
        </div>

        <div class="column">
            <div class="column">
                <div class="card">
                   <div class="card-image">
                      <figure class="image is-4by3">
                         <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                   </div>
                   <section class="inline">
                      <div class="card-content"  style="float:left; " id="first">
                         <div class="media">
                            <div class="media-content">
                               <p class="title is-4 has-text-centered">Wedding</p>
                               <p class="subtitle is-6 has-text-centered">--add--text--</p>
                            </div>
                         </div>
                      </div>
                      <div>
                         <button routerLink="/userdetails" class="button is-black" id="second">Select</button>
                      </div>
                   </section>
                </div>
             </div>
        </div>

     </div>
     <div class="columns">
        <div class="column is-one-third">

           <div class="column">
              <div class="card">
                 <div class="card-image">
                    <figure class="image is-4by3">
                       <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                 </div>
                 <section class="inline">
                    <div class="card-content"  style="float:left; " id="first">
                       <div class="media">
                          <div class="media-content">
                             <p class="title is-4 has-text-centered">Wedding</p>
                             <p class="subtitle is-6 has-text-centered">--add--text--</p>
                          </div>
                       </div>
                    </div>
                    <div>
                       <button routerLink="/userdetails" class="button is-black" id="second">Select</button>
                    </div>
                 </section>
              </div>
           </div>

        </div>
        <div class="column">
            <div class="column">
                <div class="card">
                   <div class="card-image">
                      <figure class="image is-4by3">
                         <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                   </div>
                   <section class="inline">
                      <div class="card-content"  style="float:left; " id="first">
                         <div class="media">
                            <div class="media-content">
                               <p class="title is-4 has-text-centered">Wedding</p>
                               <p class="subtitle is-6 has-text-centered">--add--text--</p>
                            </div>
                         </div>
                      </div>
                      <div>
                         <button routerLink="/userdetails" class="button is-black" id="second">Select</button>
                      </div>
                   </section>
                </div>
             </div>
        </div>

        <div class="column">
            <div class="column">
                <div class="card">
                   <div class="card-image">
                      <figure class="image is-4by3">
                         <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                   </div>
                   <section class="inline">
                      <div class="card-content"  style="float:left; " id="first">
                         <div class="media">
                            <div class="media-content">
                               <p class="title is-4 has-text-centered">Wedding</p>
                               <p class="subtitle is-6 has-text-centered">--add--text--</p>
                            </div>
                         </div>
                      </div>
                      <div>
                         <button routerLink="/userdetails" class="button is-black" id="second">Select</button>
                      </div>
                   </section>
                </div>
             </div>
        </div>

     </div>


<!-- book a photographer -->
<hr>
      <h1 class="has-text-centered" style="font-size:40px">Book A Photographer 📸 </h1>
<br>
<button class="button is-black" style="display: block;
margin-left: auto;
margin-right: auto;
width: 10%;">Book Now</button>

