<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div>
<section class="hero is-info is-large is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title font-1">
          Plan Your Events With US!
        </h1>
        <h2 class="subtitle font-2">
          Beautiful things happen only once
        </h2>
      </div>
    </div>
</section>
</div>

<br>
<h1 class="has-text-centered font-1 is-centered">Our Services</h1>

<hr id="hr-shadow">
<br>
<div class="columns">
  <div class="column is-one-third">
<h4 class="wordCarousel is-centered">    
  <div> 
<!--        Use classes 2,3, or 4 to match the number of words --> 
      <ul class="flip4 "> 
          <li>Marriages</li>
          <li>Birthdays</li>
          <li>Entertainments</li> 
          <li>Theme Events</li>  
      </ul>
  </div>  
</h4>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="column">
<app-arrow></app-arrow>
</div>
</div>
<hr id="hr-shadow">
<h1 class="has-text-centered font-3 is-centered">""WE""</h1>
<h1 style="text-align:center"><----------THREE CARDS---------></h1>



