<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div>
<section class="hero is-info is-large is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Plan Your Events With US!
        </h1>
        <h2 class="subtitle">
          Beautiful things happen only once
        </h2>
      </div>
    </div>
</section>
</div>


<div class="content">
    <div class="content__container">
      <p class="content__container__text">
        Hello
      </p>
      
      <ul class="content__container__list">
        <li class="content__container__list__item">world !</li>
        <li class="content__container__list__item">bob !</li>
        <li class="content__container__list__item">users !</li>
        <li class="content__container__list__item">everybody !</li>
      </ul>
    </div>
  </div>

