<br>
<div class="container is-max-desktop is-dark">
    <div class="notification is-primary has-text-centered is-dark">
      Book your Event with Us!
    </div>
  </div>

  <!-- meter -->
<br>
  <ul class="steps is-narrow is-medium is-centered has-content-centered ">
    <li class="steps-segment is-active">
      <a routerLink="/booking" class="has-text-dark ">



        <span class="steps-marker is-dark">
          <span class="icon">
            <i class="fa fa-shopping-cart "></i>
          </span>
        </span>
        <div class="steps-content ">
          <p class="heading">Event Selection</p>
        </div>
      </a>
    </li>
    <li class="steps-segment">
      <a routerLink="/booking" class="has-text-dark">
        <span class="steps-marker is-dark">
          <span class="icon">
            <i class="fa fa-user"></i>
          </span>
        </span>
        <div class="steps-content">
          <p class="heading">User Information</p>
        </div>
      </a>
    </li>
  </ul>
 
<app-cards></app-cards>